* {
    box-sizing: border-box;
}
main {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/BG.svg");
    background-position: center;
    background-size: auto;
    padding: 30px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 30vw 70vw;
    grid-template-areas: 
        "topLeft right"
        "bottomLeft right";
}
.right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen {
    height: 100vh;
}
.logo {
    padding: 40px;
    grid-area: bottomLeft;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.Plogo {
    margin-bottom: 40px;
    width: 8vw;
}
.Mockup {
    width: 25vw;
}

