* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header {
    text-align: right;
    padding: 30px;
}
.navbar-toggler {
    font-size: 1.7rem;
    margin-bottom: 5px;
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: grey;
    margin-left: 92.5vw;
}
.icons i {
    margin: 6px 0;
    font-size: 12px;
}
.icons i:hover {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    margin: 0 200px;
}
main div {
    align-self: flex-start;
}
img {
    width: 400px;
    margin-right: 60px;
    align-self: flex-end;
    margin-top: 200px;
}
h2 {
    font-family: 'Caladea', serif;
}
h2 span {
    color: #D63D37;
    text-decoration: underline;
}
p , ul li {  
    font-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: grey;
    width: 30vw;
    margin: 20px 0;
    margin-left: 90px;
    line-height: 2em;
    font-size: 16px;
}
ul span {
    color: #D63D37;
}
.list i {
    color: #D63D37;
    float: left;
    margin: 7px 35px;
}